body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: -8%;
    text-align: center;
    padding: 20%;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;
}

iframe {
    border: 0px;
}

div {
    background: rgba(49, 47, 158, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid transparent;
    transition: scale 1s;
}

.d-none {
    display: none;
}

h1, h2 {
    font-size: xx-large;
    color: white;
    font-weight: 900;
}

button {
    background-color: rgb(94, 97, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    width: 40%;
    font-size: 20px;
    border: none;
}

button:active {
    background-color: rgb(82, 68, 157);
    transform: translateY(4px);
}

#timer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: large;
    color: white;
    font-weight: 900;
}
